@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200&display=swap');

html, body {
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

a, div, span, p {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.overlay {
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
}

.container {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;

    color: whitesmoke;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.container h1, .container h3, .container h4 {
    margin: 0;
}

.container a {
    color: whitesmoke;
    text-decoration: underline;
    transition: all .5s;
}

.container a:hover {
    color: whitesmoke;
    opacity: .8;
    text-decoration: none;
}

.footer {
    width: 100%;
    height: auto;
    
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;

    background: whitesmoke;
    color: #2e2f2f;

    text-align: center;
    font-weight: bold;

    position: fixed;
    bottom: 0;
}

.footer a {
    color: #2e2f2f;
    text-decoration: underline;
    transition: all .5s;
}

.footer a:hover {
    opacity: .8;
    text-decoration: none;
}