.submenu {
    padding: 0;
}

.submenu li {
    display: inline;
}

.submenu a {
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    color: whitesmoke;
    text-decoration: none;

    background-color: #2e2f2f;
    border-radius: 5px;

    transition: all .3s;
}

.submenu a:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    .container h3 {
        margin: 0;
    }

    .submenu {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .submenu a {
        width: auto;
        padding: 1rem;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: block;
    }

    .submenu li {
        display: block;
    }

    
}