- var title = "about | anime.frame"

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        base(href="/")
        link(rel='stylesheet', href='css/docs/main.css')
        link(rel='stylesheet', href='css/docs/about.css')
    body
        ul(class="nav")
            a(href="/" class="brand")
                li anime.frame
            a(href="/gallery")
                li gallery
            a(href="/docs")
                li docs
            a(href="/docs/usage")
                li usage
            a(href="/docs/contribution") 
                li contribution
            a(href="/docs/about", class="active") 
                li about

        .container
            h1 About
            h3 This project is created by <a href="https://github.com/dethMastery" target="_blank">dethMastery</a> on an organization named <a href="https://github.com/KIZUNEParty" target="_blank">KIZUNEParty</a>
            h3 just feel free to use but leave me some credit :D
            br
            br
            span contact : 
            a(href="mailto:contact@detzz.in.th", target="_blank"): span contact@detzz.in.th
        
        .footer
            span follow this project or contribute this project on 
            a(href="https://github.com/KIZUNEParty/anime.frame")
                span github