- var title = "contribution | anime.frame"

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        base(href="/")
        link(rel='stylesheet', href='css/docs/main.css')
        link(rel='stylesheet', href='css/docs/contribution.css')
    body
        ul(class="nav")
            a(href="/" class="brand")
                li anime.frame
            a(href="/gallery")
                li gallery
            a(href="/docs")
                li docs
            a(href="/docs/usage", class="active")
                li usage
            a(href="/docs/contribution") 
                li contribution
            a(href="/docs/about") 
                li about

        .container
            h1 Contribution
            ul 
                li 
                    h2 API
                    span(class="subtext") If you want to improve something in the repository just fork it and send me a pull request ;)
                li 
                    h2 Image Database
                    span(class="subtext") If you think that the exist anime frame that i have is not enough just try to send a pull request to 
                    a(href="https://github.com/dont-tattled-on-me/animescene") 
                        span dont-tattled-on-me/animescene
        
        .footer
            span follow this project or contribute this project on 
            a(href="https://github.com/KIZUNEParty/anime.frame")
                span github