- var title = "usage | anime.frame"
- let rdm = "https://frame.kitzu.me/rdm"
- let id = "https://frame.kitzu.me/rdm/<MALID>"

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        base(href="/")
        link(rel='stylesheet', href='css/docs/main.css')
        link(rel='stylesheet', href='css/docs/usage.css')
        script.
            let main = function() {
                navigator.clipboard.writeText('https://frame.kitzu.me/rdm')
                alert("Copied!")
            }
    body
        ul(class="nav")
            a(href="/" class="brand")
                li anime.frame
            a(href="/gallery")
                li gallery
            a(href="/docs")
                li docs
            a(href="/docs/usage", class="active")
                li usage
            a(href="/docs/contribution") 
                li contribution
            a(href="/docs/about") 
                li about

        .container
            h1 Usage
            span(class="text") Just fetch this api with axios or anything you free to used to 
            br
            br
            button(class="text link" onclick='copy()')= rdm
            br
            br
            br
            h2 Category
            span(class="text") Just using above API link and add `MAL ID` like this
            br
            br
            button(class="text link" onclick='copy()')= rdm+"/<MAL ID>"
            br
            br
            h2 Available category
            ul(class="category")

                
        
        .footer
            span follow this project or contribute this project on 
            a(href="https://github.com/KIZUNEParty/anime.frame")
                span github

    block script
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(type="text/javascript").
            function bgCall() {
                let axx = axios.get('/listing')

                let axCall = axx.then((rsp) => rsp.data) 

               return axCall
            }

            bgCall().then(data => {
                for (i=0; i < data.link; i++) {
                    console.log(data.list[i].mal)

                    let mallist = document.createElement('li')

                    mallist.innerText = data.list[i].mal

                    document.querySelector('.category').appendChild(mallist)
                }
            })